@font-face {
  font-family:opensans-bolditalic;
  src:url(fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family:opensans-extrabolditalic;
  src:url(fonts/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family:opensans-semibolditalic;
  src:url(fonts/OpenSans-SemiboldItalic.ttf);
}
#backdrop-video{
  position: absolute;
}
#debug{
  z-index: 10;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
}
#debug table{
  width: 100%;
}
#debug table td {
  border: 1px solid #CCC;
}

section.module{
  overflow: hidden;
  width: 1080px;
  height: 1920px;
  position: relative;
}

#s03-waiting {
}

#s03-waiting .btn-waiting{
  top: 1518px;
  left: 88px;
  position: relative;
  transform: scale(1.3);
}
.white-text{
  font-family: opensans-bolditalic;
  color: white;
  font-size: 3em;  
  text-align: center;
}
.red-text{
  font-family: opensans-bolditalic;
  color: #ad0102;
  font-size: 2.7em;
  text-align: center;
}
.w800px{
  width: 800px;
}
#s03-waiting .waiting-line01{
  top: 1560px;
  left: 136px;
  width: 800px;
  position: absolute;
}
#s03-waiting .waiting-line02{
  top: 1641px;
  left: 136px;
  width: 800px;
  position: absolute;
}

/* 04 CAMERA */
#s04-camera{
  background-image: url(images/bg-camera.png);
}

#s04-camera .camera,
#s04-camera .output
{
  position: absolute;
  top: 344px;
  left: 196px;
}
#s04-camera .output {z-index: 2;}
#s04-camera #keyboard-name {
  border: 0px;
  position: absolute;
  text-align: center;
  font-size: 3.8em;
  top: 1018px;
  left: 256px;
  width: 567px;
  padding: 10px;
}
.keyboard:focus {
    outline: none;
}
#s04-camera #tick{
  position: absolute;
  top: 1450px;
  left: 64px;
}
#s04-camera .ui-keyboard{
  font-size: 20px;
  background-color: white;
  left: 90px;
  right: 90px;
  width: auto;
  border: 0;
  bottom: 524px;
}
#s04-camera #cam-video{
  position: absolute;
  top: 0;
}
#s04-camera .camera .count_down_text{
  position: absolute;
  left: 140px;
  top: 230px;
  z-index: 10;
  font-size: 750px;
  color: rgba(255,255,255,0.5);
}

#s04-camera #btn-start-game
{
  position: absolute;
  top: 1566px;
  left: 206px;
}

#wb-timer-text {
  position: absolute;
  top: 1500px;
  left: 400px;
}

#s05-game{
  background-image: url(images/bg-game.png);
}
#s05-game #btn-quit{
  position: absolute;
  top: 1550px;
  left: 240px;
}
.player-box{
  top: 310px;
  width: 342px;
  position: absolute;
}
.player-box .player-photo.winner{
  box-shadow: 0px 0px 20px 10px rgba(255,255,0,1);
}
.player-box .player-photo.losser{
  filter: grayscale(100%);
}
.player-box .player-photo{
  width: 463px;
  transform: rotateZ(-90deg);
  position: absolute;
  left: -59px;
  top: 55px;
}
.player-box .player-name{
  font-family: opensans-bolditalic;
  font-size: 53px;
  color: white;
  -webkit-text-stroke: 2px black;
  position: relative;
  text-align: center;
  top: 493px;
}
.player-box .player-score-text{
  font-family: opensans-bolditalic;
  font-size: 62px;
  color: #ff0;
  -webkit-text-stroke: 2px #ab0000;
  position: relative;
  text-align: center;
  top: 541px;
}

#s05-game #game-timer{
  position: absolute;
  top: 1225px;
  font-family: opensans-extrabolditalic;
  font-size: 223px;
  color: #FFF;
  -webkit-text-stroke: 2px #ab0000;
  left: 240px;
  text-align: center;
  width: 600px;
}
.player01{
  left: 70px;
}
.player02{
  left: 666px;
}


#s06-result #keyboard-email {
  border: 0px;
  position: absolute;
  text-align: center;
  font-size: 3.8em;
  top: 1110px;
  left: 85px;
  width: 910px;
  padding: 10px;
}
#s06-result .ui-keyboard{
  font-size: 20px;
  background-color: white;
  left: 90px;
  right: 90px;
  width: auto;
  border: 0;
  bottom: 424px;
}

#s06-result #skip-email{
  position: absolute;
  width: 355px;
  height: 138px;
  top: 1580px;
  left: 122px;
}
#s06-result #save-email{
  position: absolute;
  width: 355px;
  height: 138px;
  top: 1580px;
  left: 622px;
}

#s06-result {
  background-image: url(images/bg-res-win.png);
}
#s07-thankyou {
  background-image: url(images/bg-thankyou-win.png);
}
